In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sas

In [2]:
df=pd.read_excel(r'C:\Users\dumindu yasa\Desktop\sdgp\DS\EWPS.xlsx')
print (df)

       Unnamed: 0       JobNo  suffix                     ItemCode ColorGroup  \
0               0  1900010101       0         FW380049-015BK-0010E        NaN
1               2  1900010101       0         FW380049-015BK-0010E        NaN
2               3  1900010101       0         FW380049-015BK-0010E        NaN
3               4  1900010101       1                 FW380049-015        NaN
4               5  1900010101       2  BMY-FW380049-015-51000016-F        NaN
...           ...         ...     ...                          ...        ...
52274       65495  B204050102       0                 FW380471-032        NaN
52275       65496  B204050102       1  BMY-FW380471-032-51000016-F        NaN
52276       65497  B204050102       2  BMY-FW380471-032-51000016-B        NaN
52277       65498  B204050102       3  BMY-FW380471-032-51000016-S        NaN
52278       65499  B204050102       4  BMR-FW380471-032-FDCY000020        NaN

       UoM       QtyCom  QtyScrp      WC  MtrWgt
0      Mts  8185.538881     0.00  F1_DYE    0.00
1      Mts  8185.538881     0.00   F1_QA    0.00
2      Mts  8000.000000   214.00   F1_PK    0.00
3      Kgs   123.290000     8.79  F2_JAC    7.33
4      Kgs    35.400000     0.00   F1_WP    0.00
...    ...          ...      ...     ...     ...
52274  Kgs   207.870000     2.50  F1_WEV   20.77
52275  Kgs    74.920000     0.00   F1_WP    0.00
52276  Kgs    53.220000     2.82   F1_WP    0.00
52277  Kgs    97.530000     3.38   F1_WP    0.00
52278  Kgs   110.900000     2.14   F1_WP    0.00

[52279 rows x 10 columns]

In [15]:
df[df.MtrWgt!=0.00 ]

,Unnamed: 0,JobNo,suffix,ItemCode,ColorGroup,UoM,QtyCom,QtyScrp,WC,MtrWgt
3,4,1900010101,1,FW380049-015,NaN,Kgs,123.29,8.79,F2_JAC,7.33
13,20,1900010201,1,FW380049-015,NaN,Kgs,171.15,9.23,F1_WEV,7.33
20,28,1900010202,1,FW380049-015,NaN,Kgs,55.20,5.75,F1_WEV,7.33
27,39,1900010301,1,FW380049-015,NaN,Kgs,165.90,9.71,F1_WEV,7.33
31,46,1900010302,1,FW380049-015,NaN,Kgs,69.20,3.05,F2_JAC,7.33
...,...,...,...,...,...,...,...,...,...,...
52260,65478,B204020101,0,FK028082-012BK/GR,NaN,Kgs,65.80,0.00,F1_KNT,4.73
52261,65479,B204020101,0,FK028082-012BK/GR,NaN,Kgs,106.80,5.80,F1_KNT,4.73
52264,65482,B204030101,0,FK028082-012BK/GR,NaN,Kgs,162.25,3.13,F1_KNT,4.73
52269,65489,B204050101,0,FW380471-032,NaN,Kgs,160.82,3.25,F1_WEV,20.77
52274,65495,B204050102,0,FW380471-032,NaN,Kgs,207.87,2.50,F1_WEV,20.77

In [22]:
df[df.WC=='F1_KNT' ][df.MtrWgt==0.00]

<ipython-input-22-68545a64f958>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.WC=='F1_KNT' ][df.MtrWgt==0.00]

,Unnamed: 0,JobNo,suffix,ItemCode,ColorGroup,UoM,QtyCom,QtyScrp,WC,MtrWgt
236,284,1900141001,1,FKS380028-008,NaN,Kgs,1.0,0.0,F1_KNT,0.0

In [23]:
df=df[df.JobNo!=1900141001]

In [24]:
df.to_excel("EWPS_2.xlsx",
             sheet_name='Sheet_name_1')