In [68]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sas

In [69]:
cmap=sas.diverging_palette(220,10,as_cmap=True)
sas.heatmap(df['JobNo', 'suffix', 'ItemCode', 'ColorGroup', 'UoM', 'QtyCom',
       'QtyScrp', 'WC', 'MtrWgt'].corr(),vmax=.3,center=0,cmap=cmap,square=True,linewidth=.5,cbar_kws={"shrink":.5})

KeyError: ('JobNo', 'suffix', 'ItemCode', 'ColorGroup', 'UoM', 'QtyCom', 'QtyScrp', 'WC', 'MtrWgt')

In [57]:
df=pd.read_excel(r'C:\Users\dumindu yasa\Desktop\sdgp\DS\Elastic Production WD.xls')
print (df)

            JobNo  suffix                        ItemCode ColorGroup  UoM  \
0      1900010101       0            FW380049-015BK-0010E        NaN  Mts
1      1900010101       0            FW380049-015BK-0010E        NaN  Mts
2      1900010101       0            FW380049-015BK-0010E        NaN  Mts
3      1900010101       0            FW380049-015BK-0010E        NaN  Mts
4      1900010101       1                    FW380049-015        NaN  Kgs
...           ...     ...                             ...        ...  ...
65529  B204060103       1       BMY-FJ086559-038-51000059        NaN  Kgs
65530  B204060103       2  BMY-FJ086559-038-51000285-BACK        NaN  Kgs
65531  B204060103       3  BMY-FJ086559-038-51000285-BODY        NaN  Kgs
65532  B204060103       4     BMR-FJ086559-038-FDCY000073        NaN  Kgs
65533  B204060201       0                 FJ086519-038/GR        NaN  Kgs

            QtyCom  QtyScrp      WC  MtrWgt
0      8185.538881     0.00  F1_DYE    0.00
1         0.000000     0.00  F1_DYE    0.00
2      8185.538881     0.00   F1_QA    0.00
3      8000.000000   214.00   F1_PK    0.00
4       123.290000     8.79  F2_JAC    7.33
...            ...      ...     ...     ...
65529     0.000000     0.00   F2_WP    0.00
65530     0.000000     0.00   F2_WP    0.00
65531     0.000000     0.00   F2_WP    0.00
65532     0.000000     0.00   F2_WP    0.00
65533     0.000000     0.00  F2_JAC   22.85

[65534 rows x 9 columns]

In [58]:
df.columns

Index(['JobNo', 'suffix', 'ItemCode', 'ColorGroup', 'UoM', 'QtyCom', 'QtyScrp',
       'WC', 'MtrWgt'],
      dtype='object')

In [59]:
df.WC.value_counts()

F1_QA     15438
F1_PK     15425
F1_DYE    13533
F1_WP     12693
F1_KNT     4275
F1_WEV     2808
F2_WP       962
F2_JAC      384
F2_PK        15
F1_PFT        1
Name: WC, dtype: int64

In [60]:
df.suffix.value_counts()

0    46889
1     6826
2     5702
3     4225
4     1463
5      335
6       72
7       15
8        7
Name: suffix, dtype: int64

In [61]:
df.ColorGroup.value_counts()

DYE_SG_LT    8861
DYE_SG_MD    7575
DYE_SG_FI    7009
DYE_SG_BK    6089
DYE_SG_WH    5347
DYE_SG_DK    4265
Name: ColorGroup, dtype: int64

In [62]:
df.ItemCode.value_counts()

FK380028-008BK-0042              963
FK048204-008.5WH-1039            840
FK048204-008.5BK-1142            765
FK380028-008WH-0061              705
FK380028-008TA-0059              594
                                ...
BMR-FW380186-030-FDCY000020        1
BMR-FK380401-064BK-51000003        1
BMR-FJ103290-036.0-FDCY000067      1
BMY-FW380230-025-51000115-F        1
BMY-FJ103290-036.0-11000227        1
Name: ItemCode, Length: 4129, dtype: int64

In [70]:
df.JobNo.value_counts()

1910030501    10
1913863801    10
2007130101    10
2005400103    10
1905300101    10
              ..
B203600201     1
B201670301     1
B191650101     1
B203080101     1
B203060102     1
Name: JobNo, Length: 17332, dtype: int64

In [73]:
df[df.suffix==1]

,JobNo,suffix,ItemCode,ColorGroup,UoM,QtyCom,QtyScrp,WC,MtrWgt
4,1900010101,1,FW380049-015,NaN,Kgs,123.29,8.79,F2_JAC,7.33
12,1900010102,1,FW380049-015,NaN,Kgs,0.00,0.00,F1_WEV,7.33
20,1900010201,1,FW380049-015,NaN,Kgs,171.15,9.23,F1_WEV,7.33
28,1900010202,1,FW380049-015,NaN,Kgs,55.20,5.75,F1_WEV,7.33
39,1900010301,1,FW380049-015,NaN,Kgs,165.90,9.71,F1_WEV,7.33
...,...,...,...,...,...,...,...,...,...
65506,B204050104,1,BMY-FW380471-032-51000016-F,NaN,Kgs,0.00,0.00,F1_WP,0.00
65511,B204050105,1,BMY-FW380471-032-51000016-F,NaN,Kgs,0.00,0.00,F1_WP,0.00
65517,B204060101,1,BMY-FJ086559-038-51000059,NaN,Kgs,0.00,0.00,F2_WP,0.00
65523,B204060102,1,BMY-FJ086559-038-51000059,NaN,Kgs,0.00,0.00,F2_WP,0.00
65529,B204060103,1,BMY-FJ086559-038-51000059,NaN,Kgs,0.00,0.00,F2_WP,0.00

In [78]:
df=df[df.QtyCom!=0]

In [79]:
df.QtyCom

0        8185.538881
2        8185.538881
3        8000.000000
4         123.290000
5          35.400000
            ...
65495     207.870000
65496      74.920000
65497      53.220000
65498      97.530000
65499     110.900000
Name: QtyCom, Length: 52279, dtype: float64

In [80]:
df.to_excel("EWPS.xlsx",
             sheet_name='Sheet_name_1')